[package]
name = "s3find"
authors = ["Andrii Radyk <ander.ender@gmail.com>"]
version = "0.7.2"
description = """
A command line utility to walk an Amazon S3 hierarchy.
s3find is an analog of find for Amazon S3.
"""
documentation = "https://github.com/AnderEnder/s3find-rs"
homepage = "https://github.com/AnderEnder/s3find-rs"
repository = "https://github.com/AnderEnder/s3find-rs"
keywords = [
    "find",
    "aws",
    "s3",
    "pattern",
    "regex",
]
categories = ["command-line-utilities"]
license = "BSD-2-Clause"
exclude = [
    ".travis.yml",
    "ci/*",
]
build = "build.rs"
edition = "2018"

[[bin]]
name = "s3find"
path = "src/bin/s3find.rs"

[badges]
travis-ci = { repository = "AnderEnder/s3find-rs"}
codecov = { repository = "AnderEnder/s3find-rs" }

[dependencies]
rusoto_credential = "0.46"
structopt = "0.3"
glob = "0.3"
regex = "1"
anyhow = "1"
thiserror = "1"
chrono = "0.4"
futures = "0.3"
indicatif = "0.15"
humansize = "1"
itertools = "0.9"
tokio = { version = "1", features=["macros", "rt-multi-thread"] }
async-trait = "0.1"

[dependencies.clap]
version = "2"
default-features = false
features = [ "suggestions", "color" ]

[dependencies.rusoto_core]
version = "0.47"
default-features = false
features = [ "rustls" ]

[dependencies.rusoto_s3]
version = "0.46"
default-features = false
features = [ "rustls" ]

[dev-dependencies]
tempfile = "3"
remove_dir_all = "0.5"

[dev-dependencies.rusoto_mock]
version = "0.46"
default-features = false
features = [ "rustls" ]

[build-dependencies]
version_check = "0.9"
structopt = "0.3"
clap = "2"
glob = "0.3"
regex = "1"
anyhow = "1"
thiserror = "1"

[build-dependencies.rusoto_core]
version = "0.47"
default-features = false
features = [ "rustls" ]

[profile.release]
lto = "fat"
codegen-units = 1
