name: Build

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  build:
    runs-on:  ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, macos-15-intel, ubuntu-24.04-arm]
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ matrix.os }}
      - name: build
        run: cargo build --verbose
      - name: test
        run: cargo test --lib --no-fail-fast --verbose -- --nocapture
        env:
          RUST_BACKTRACE: 1
          RUST_LOG: trace

  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: cache
        uses: Swatinem/rust-cache@v2
      - name: Start Docker
        run: |
          sudo systemctl start docker
          sudo chmod 666 /var/run/docker.sock
      - name: integration tests
        run: cargo test --test localstack_integration --no-fail-fast --verbose -- --nocapture
        env:
          RUST_BACKTRACE: 1
          RUST_LOG: trace
